<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-01-05T15:20:28Z</date>
	<key>WorkspacePath</key>
	<string>/var/folders/0t/22mh9zpn0s3_gn3g1799vm600000gn/T/vibe-kanban/worktrees/d043-e2e/culler/Culler/Culler.xcodeproj</string>
</dict>
</plist>
