.DS_Store
build/
artifacts/

DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcscmblueprint

.swiftpm/
.build/

*.log
build.log
.derivedData
.derivedData-e2e/
